{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<h1>FORMATIONS</h1>

{% for formation in formations %}
    <a href="{{ path('show_sessions', {'id':formation.id}) }}">
        {{ formation }} 
    </a>
    <br>
{% endfor %}

{% endblock %}
