{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<div class="formation-container">
    <div class="formation-information">
        <div class="formation-title">
            <p class="title"><span class="hardgreen">FORMA</span><span class="lightgreen">TIONS</span></p>
        </div>
        <div class="formations">
            {% if formations is empty %}
                <p>pas de formations à afficher</p>
            {% else %}
                {% for formation in formations %}
                    <div class="formation-name">
                        <a href="{{ path('show_sessions', {'id':formation.id}) }}">
                            {{ formation }} 
                        </a>
                    </div>
            {% endfor %}
                
            {% endif %}
                
        </div>
    </div>
</div>

{% endblock %}
