{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<h1>STAGIAIRES</h1>

<a href=" {{ path('app_addstagiaire') }}">Ajouter un stagiaire</a><br>

{% for stagiaire in stagiaires %}
    <a href="{{ path('app_detailstagiaire', {'id':stagiaire.id}) }}">
         {{ stagiaire }}
    </a>
    <br>
{% endfor %}

{% endblock %}
