{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<h1>STAGIAIRES</h1>

<a href="">Ajouter un stagiaire</a>
{% for stagiaire in stagiaires %}
    {{ stagiaire }}<br>
{% endfor %}

{% endblock %}
