{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<h1>SESSIONS</h1>
<a href="{{ path('add_session') }}">Ajouter une session</a>

{% for session in sessions %}
    <a href="{{path('detail_session', {'id':session.id})}}"><h2>{{ session.nom }}</h2></a><br>     
{% endfor %}
<br>

Ajouter un stagiaire a une session ?
{{ form(formAddStagiaireSession) }}
{% endblock %}
