{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<div class="session-container">
    <div class="session-title">
        <p class="title"><span class="hardgreen">SESS</span><span class="lightgreen">IONS</span></p>
    </div>
    <div class="session">
        {% for session in sessions %}
        <div class="session-information">
            <a href="{{path('detail_session', {'id':session.id})}}">{{ session.nom }}</a><br>     
        </div>
        {% endfor %}
    </div>
    <a class="session-add" href="{{ path('add_session') }}">Ajouter une session</a>
    <br>
</div>
{% endblock %}
