
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Playwrite+AU+SA:wght@100..400&display=swap');

:root {
    --outsider: #07745E;
    --insider: #0FB392;
    --tester: red;
    --cleargreen: #d7f5ef;
    --hoverbutton:  #00ecbd;
    --cutive: Cutive;
    --buttonsize: 16px;
    --titlesize: 20px;
    --datasize: 16px;
    --shadow: 0 4px 20px rgba(0, 0, 0, 1);
}

* {
    margin: 0;
    font-family: var(--cutive);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, rgb(200, 221, 217) 30%, rgb(7, 175, 139) 70%);
}

nav {
    background-color: var(--cleargreen);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a {
    padding: 10px;
    border-radius: 40px;
    background-color: var(--hoverbutton);
    margin: 10px 0 10px 0;
    box-shadow: 5px 5px 5px var(--outsider);
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: var(--cutive);
    transition: all 0.3s;
}

nav a:hover{
    transform: scale(1.1);
    background-color: var(--insider);
    box-shadow: 0px 0px 10px 5px var(--outsider);
}

nav i {
    margin-right: 7px;
}

/* ===============BOUTONS ================== */
.fa-user-minus {
    color: red;
}

.fa-user-plus {
    color: green;
}

.fa-file-circle-minus {
    color:red;
}

.fa-file-circle-plus {
    color:green;
}

.modules-no-prog {
    display: flex;
    margin-bottom: 15px;
}


/* ================DETAILS SESSIONS==================== */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    margin: 0 10% 0 10%;
    height: 75%;
    overflow: hidden;
}

.left-container {
    grid-template-rows: repeat(3, 1fr); 
}

.right-container {
    grid-template-rows: repeat(2, 1fr); 
}

.left-container,
.right-container {
    display: grid;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden; 
    width: 100%; 
    height: 100%;
}


.session-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.info {
    display: flex;
}

.stagiaire-inscrit,
.stagiaire-noninscrit {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    overflow: auto;
    height: 100%;
    width: 100%;
}
.stagiaire {
    display: flex;
}

.stagiaire p {
    margin-left: 5px;
}

.modules-programme,
.modules-nonprogramme {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    overflow: auto;
    height: 100%;
    width: 100%;
    
}

.box-nom-module {
    padding: 5px 0 5px 0;
}

.modules-programme {
    grid-row: 1;
}

.modules-nonprogramme {
    grid-row: 2;
}

.modules-no-prog

.title {
    font-size: var(--titlesize);
    padding: 15px 0 0 0;
}

.box-title {
    background-color: var(--outsider);
    border-radius: 8px 8px 0 0;
    position: sticky;
}


/* =====================FORMATIONS================ */

.formation-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formation-information {
    width: 40%;
    height: 60%;
    box-shadow: var(--shadow);
    background-color: var(--cleargreen);
    border-radius: 8px;
}

.formation-title {
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.formation-name {
    padding: 10px 0 10px 5px;
    border-bottom: #07745E solid 2px;
}

.formation-name a {
    text-decoration: none;
    color: black;
    transition: all 0.3;
}

.formation-name a:hover {
    text-shadow: var(--shadow);
}

/* ------------------------------------------- */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 242, 242);
    box-shadow: var(--shadow);
    border-radius: 15px;
    margin-top: 10%;
}

.container label {
    padding: 15px 0 5px 0;
}

.container input {
    border: #07745E 1px solid;
}

.container button {
    margin-top: 50px;
    border-radius: 8px;
    background-color: var(--hoverbutton);
    padding: 10px;
    font-size: var(--titlesize);
}

.container button:hover {
    transform: scale(1.1);
    background-color: var(--insider);
}

.hardgreen {
    color: var(--outsider);
}

.lightgreen {
    color: var(--insider)
}

/* -------------------------------- */

.session-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
}

.session-title {
    border: 1px solid black;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cleargreen);
    border-radius: 15px 15px 0 0;
}
.session {
    width: 40%;
    border: 1px solid black;
    background-color: var(--cleargreen);
    border-radius: 0 0 15px 15px;
}

.session-information {
    border-bottom: 1px solid var(--outsider);
    margin: 10px 0 10px 0;
}

.session-information a {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    margin-left: 5px;
}

.session-information a:hover {
    text-shadow: 0 4px 20px rgb(0, 102, 71, 1);
    color: var(--hoverbutton);
}


.session-information:last-child {
    border-bottom: none;
}

.session-add {
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    background-color: var(--hoverbutton);
    border-radius: 15px;
    padding: 8px;
    color: black;
    transition: all 0.3s;
}

.session-add:hover {
    box-shadow: 0 4px 20px rgb(0, 102, 71, 1);
    background-color: var(--outsider);
    transform: scale(1.1);
}


.header-row {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr; /* Ajuste la largeur relative des colonnes */
    background-color: var(--cleargreen);
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid var(--outsider);
    text-align: center;
}

.header-cell {
    padding: 5px 10px;
    text-align: center;
}

/* Lignes de données */
.box-row {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr auto; /* Auto pour la colonne d'actions */
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid var(--cleargreen);
}

.box-row:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.box-cell {
    padding: 5px 10px;
    text-align: center;
}

.box-cell-action {
    text-align: center;
}

.box-cell-action a {
    text-decoration: none;
    color: red;
    font-size: 16px;
    transition: transform 0.2s;
}

.box-cell-action a:hover {
    transform: scale(1.1);
    color: darkred;
}